ADF/pipeline/pl_incremental_load_orders.json
{
	"name": "pl_incremental_load_orders",
	"properties": {
		"description": "Order table incremental load from sql db to sql db",
		"activities": [
			{
				"name": "lkp_new_watermark_Orders_CustDb",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(InsertDateTime) as New_Watermarkvalue from [dbo].[orders]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_CustDB_SRC_Orders",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "lkp_old_watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select TableName,WatermarkValue as Old_Watermarkvalue from watermarktable where TableName='orders'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_SCmDB_TGT_WatermarkTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Copy orders data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lkp_new_watermark_Orders_CustDb",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "lkp_old_watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from [dbo].[orders] where InsertDateTime > '@{activity('lkp_old_watermark').output.firstRow.Old_Watermarkvalue}'\nand InsertDateTime <= '@{activity('lkp_new_watermark_Orders_CustDb').output.firstRow.New_Watermarkvalue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "LS_Storage_SADFpractice_ADLgen2",
								"type": "LinkedServiceReference"
							},
							"path": "data-engg/target"
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SQL_CustDB_SRC_Orders",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SQL_ScmDB_TGT_Orders",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored procedure_to_upd_watermark value",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy orders data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spSetWatermark]",
					"storedProcedureParameters": {
						"NewTime": {
							"value": {
								"value": "@activity('lkp_new_watermark_Orders_CustDb').output.firstRow.New_Watermarkvalue",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "@activity('lkp_old_watermark').output.firstRow.TableName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_ScmDB_TGT",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-02-01T07:15:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}